<component name="libraryTable">
  <library name="spring-tx-5.2.6.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/mysql-connector-java-5.1.7-bin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>