<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.ssm.mapper.UserMapper">
    <select id="getUser" resultType="com.liu.ssm.domain.User">
        select * from t_user
    </select>

    <insert id="add" parameterType="com.liu.ssm.domain.User">
        INSERT INTO t_user(username,password,email)VALUES(#{username},#{password},#{email})
    </insert>

</mapper>
